{% extends 'core/base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto px-4 py-12 prose prose-green">
<div class="container userInfo">
<h1 class="ebs-content-header">

            Bestelinformatie

        </h1>
<br/>
<h2>Bezorgkosten Nederland</h2>
<ul>
<li>Bezorgkosten: € 7,50 excl. btw </li>
<li>Verzendkosten bij volume orders: € 45,00 excl. btw (dit wordt aangegeven in de winkelmand)</li>
<li>Volume zending worden gratis verzonden vanaf € 950,00 excl. btw</li>
<li>Minimaal bestelbedrag: € 40,00</li>
</ul>
<p> </p>
<h2>Bezorgkosten België</h2>
<ul>
<li>Bezorgkosten: € 8,50</li>
<li></li>
<li>Verzendkosten bij volume orders: € 65,00 excl. btw (dit wordt aangegeven in de winkelmand)</li>
<li>Volume zending worden gratis verzonden vanaf € 1250,00 excl. btw</li>
<li>Minimaal bestelbedrag € 40,00</li>
</ul>
<p> </p>
<h2>Levertijd</h2>
<ul>
<li>PostNL verzendbare bestellingen 1-3 werkdagen.</li>
<li>Volume bestellingen (pallet vervoer). Heeft een levertijd van 2-4 werkdagen.</li>
<li>Wanneer de bestelling aan het eind van de dag aangeboden wordt bij de vervoerder, ontvangt u hierover bericht. </li>
</ul>
<p> </p>
<h2>Productoverzicht</h2>
<ul>
<li>Sommige producten zijn alleen per doos te bestellen. Dit staat vermeld in de artikelregel. De prijs staat vermeld per stuk.</li>
</ul>
<h2> </h2>
<h2>Aanvullende verkoopvoorwaarden</h2>
<ul>
<li>Producten met aanvullende verkoopvoorwaarden zijn niet toegestaan om te verkopen via derden, zoals de platformen Bol.com of Amazon. </li>
<li>Let op! Wij doen geen dropshipment bestellingen voor bedrijven die verkopen op marketplaces zoals Bol.com.</li>
</ul>
<h2><br/>
<strong>Verkeerd product ontvangen?</strong> </h2>
<ul>
<li>Heb je een product niet ontvangen of verkeerd ontvangen? Graag ontvangen we binnen 72 uur een melding. In overleg bepalen we een passende oplossing. </li>
</ul>
<p> </p>
<p>Let op! wanneer je gebruik maakt van het atwoordnummer, worden er 7,50 euro kosten in rekening gebracht. Dit alleen het geval, wanneer het gaat om een annulering. Bij schade of garantie zijn de kosten voor Ecozyhome.</p>
<h2> </h2>
<h2>Facturatie</h2>
<ul>
<li>Facturen worden per e-mail verzonden, evenals herinneringen en aanmaningen</li>
<li>Wanneer er een factuur langer dan 50 dagen openstaat, wordt deze overgedragen aan de incasso. Eventuele bijkomende worden dan doorberekend. We zullen altijd eerst telefonisch contact opnemen, om tot een oplossing te komen. </li>
</ul>
<p><strong>Nieuwe klanten</strong></p>
<ul>
<li>De eerste bestelling is altijd op vooruitbetaling (pro forma)</li>
<li>Bij vervolg bestellingen is de betalingstermijn: <strong>21 dagen</strong></li>
<li>Het maximale krediet is € 750 euro. Wanneer de openstaande posten hoger zijn, dienen deze eerst voldaan te worden voordat een nieuwe bestelling in behandeling wordt genomen.</li>
</ul>
<p><strong>Vaste klanten</strong></p>
<ul>
<li>Bij vaste klanten kan het krediet worden verhoogd. Dit is afhankelijk van de regelmaat van bestellen, het gemiddelde order bedrag en een betrouwbaar betaalgedrag. </li>
</ul>
<h2> </h2>
<h2>Leveringsstop</h2>
<ul>
<li>Wanneer bij openstaande facturen de betalingstermijn is verstreken, behoud Ecozyhome het recht een leveringsstop in te stellen. Nieuwe orders worden pas verzonden als de openstaande posten zijn voldaan.</li>
</ul>
<p> </p>
<h2>Producten met bedrukking</h2>
<p><strong>Bestellingen van producten met bedrukking</strong></p>
<ul>
<li>Het totale bedrag moet zijn voldaan, voordat de levering plaatsvind (proforma-factuur)</li>
<li>Levertijd start vanaf het moment dat de betaling is ontvangen</li>
<li>Let op! Deze producten kunnen niet retour na levering!</li>
<li>Akkoord van het bedrukken middels een digitale proefdruk</li>
</ul>
<p><a href="/info-Bedrukking-250">Klik hier voor meer informatie over het bedrukken van producten</a></p>
<p> </p>
<br/><br/>
</div>
</div>
{% endblock %}
