{% extends 'core/base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto px-4 py-12 prose prose-green">
<div class="container userInfo">
<h1 class="ebs-content-header">

            Privacy Statement

        </h1>
<br/>
<strong>Privacy- en cookieverklaring Ecozyhome - Ecozyhome</strong>
<div> </div>
<div>Via onze webwinkel worden privacygevoelige gegevens oftewel persoonsgegevensverwerkt. Ecozyhome acht een zorgvuldige omgang met persoonsgegevens van groot belang. Persoonlijke gegevens worden door ons dan ook zorgvuldig verwerkt en beveiligd.</div>
<div>Bij onze verwerking houden wij ons aan de eisen die de privacywetgeving stelt. Dat betekent onder andere dat wij:<br/>

 </div>
<ul>
<li>onze doeleinden duidelijk specificeren voordat wij persoonsgegevens verwerken, via deze privacyverklaring;</li>
<li>onze verzameling van persoonsgegevens beperken tot alleen de persoonsgegevens die nodig zijn voor legitieme doeleinden;</li>
<li>u eerst expliciet toestemming vragen om uw persoonsgegevens te verwerken in gevallen waarin uw toestemming is vereist;</li>
<li>passende beveiligingsmaatregelen nemen om uw persoonsgegevens te beschermen en dat ook eisen van partijen die in onze opdracht persoonsgegevens verwerken;</li>
<li>uw recht respecteren om uw persoonsgegevens op uw aanvraag ter inzage te bieden, te corrigeren of te verwijderen.</li>
</ul>
<div>Ecozyhome is de verantwoordelijke voor de gegevensverwerking. In deze privacyverklaring leggen wij uit welke persoonsgegevens wij verzamelen en gebruiken en met welk doel bij de webwinkel www.energiebespaarshop.nl. Wij raden u aan deze zorgvuldig te lezen.</div>
<div>Als u vragen heeft, of wilt weten wat we precies van u bijhouden, neem dan contact op met Ecozyhome</div>
<div> </div>
<div><strong>Uw account</strong></div>
<div>Bij bepaalde onderdelen van onze webwinkel moet u zich eerst registreren. U moet dan informatie over uzelf opgeven en een gebruikersnaam kiezen. Daarmee maken wij een account, waarop u kunt inloggen met die gebruikersnaam en een zelfgekozen wachtwoord. Hiervoor gebruiken wij uw naw-gegevens, telefoonnummer, factuuradres en e-mailadres. Dit doen wij op basis van uw toestemming. Wij bewaren deze informatie tot u het account opheft. Wij bewaren deze informatie zodat u ze niet steeds opnieuw in hoeft te vullen en zodat wij u kunnen contacteren in het kader van uitvoering van de overeenkomst. U kunt via uw account informatie aanpassen wanneer u dat wilt.</div>
<div><br/>
<strong>Verstrekken aan derden</strong></div>
<div>Wij werken met bepaalde bedrijven samen, die uw hierboven genoemde persoonsgegevens van ons kunnen ontvangen. (web bouwer, gemeenten en energieloketten in het kader van de RRE/RREW regelingen)</div>
<div> </div>
<div><strong>Afhandelen bestelling</strong></div>
<div>Wanneer u bij ons een bestelling plaatst, gebruiken wij uw persoonsgegevens om deze netjes af te kunnen handelen. Wij mogen uw persoonsgegevens dan aan onze bezorgdienst geven om de bestelling bij u te laten bezorgen. In het kader van de RRE en RREW regelingen verstrekken wij uw NAW gegevens en bestelde artikelen indien nodig aan desbetreffende gemeenten of energieloketten. Ook krijgen wij informatie over uw betaling</div>
<div>van uw bank of creditcardmaatschappij. Hiervoor gebruiken wij uw naw-gegevens, telefoonnummer, factuuradres, e-mailadres en betalingsgegevens. Dit doen wij op basis van uw toestemming. Wij bewaren deze informatie tot uw bestelling is afgerond. Bepaalde klantgegevens bewaren wij langer in verband met de wettelijke fiscale bewaarplicht.</div>
<div><br/>
<strong>Verstrekken aan derden</strong></div>
<div>Wij werken met bepaalde bedrijven samen, die uw hierboven genoemde persoonsgegevens van ons kunnen ontvangen. (web bouwer, gemeenten en energieloketten in het kader van de RRE/RREW regelingen)</div>
<div> </div>
<div><strong>Plaatsen van reviews op de website</strong></div>
<div>U kunt een review voor ons achterlaten. Wij gebruiken de benodigde persoonsgegevens omde review op de website te publiceren Hiervoor gebruiken wij uw e-mailadres en nickname.</div>
<div>Dit doen wij op basis van uw toestemming. Wij bewaren deze informatie 2 jaar.</div>
<div> </div>
<div><strong>Contactformulier en Nieuwsbrief</strong></div>
<div>Met het contactformulier kunt u ons vragen stellen of aanvragen doen. Hiervoor gebruiken wij uw naw-gegevens, telefoonnummer en e-mailadres. Dit doen wij op basis van uw toestemming. Wij bewaren deze informatie totdat we zeker weten dat u tevreden bent met</div>
<div>onze reactie.</div>
<div>Wij bieden een nieuwsbrief waarmee wij geïnteresseerden willen informeren over onze producten en/of diensten. Iedere nieuwsbrief bevat een link waarmee u zich kunt afmelden. Via uw account kunt u dit ook doorgeven.</div>
<div>Uw e-mailadres wordt alleen met uw toestemming toegevoegd aan de lijst van abonnees. Deze gegevens worden bewaard totdat u het abonnement opzegt.</div>
<div> </div>
<div><strong>Verstrekken aan derden</strong></div>
<div>Wij werken met bepaalde bedrijven samen, die uw hierboven genoemde persoonsgegevens van ons kunnen ontvangen. (web bouwer, gemeenten en energieloketten in het kader van de RRE/RREW regelingen)</div>
<div> </div>
<div><strong>Reclame</strong></div>
<div>Wij willen u graag reclame sturen over aanbiedingen en nieuwe producten of diensten. Dit doen wij:</div>
<ul>
<li>per e-mail;</li>
<li>via social media.</li>
</ul>
<div>U kunt op ieder moment bezwaar maken tegen deze reclame. Elke e-mail bevat een afmeldlink. U kunt ons blokkeren of de afmeldoptie gebruiken. Via uw account kunt u dit ook doorgeven.</div>
<div> </div>
<div><strong>Advertenties</strong></div>
<div>Onze webwinkel vertoont algemene advertenties. Hierbij houden we geen persoonsgegevens bij, we komen dus ook niet te weten of u deze leuk vindt.</div>
<div> </div>
<div><strong>Verstrekking aan andere bedrijven of instellingen</strong></div>
<div>Met uitzondering van de hierboven genoemde partners, geven wij uw persoonsgegevens onder geen voorwaarde aan andere bedrijven of instellingen, behalve als wij dat wettelijk verplicht zijn (bijvoorbeeld als de politie dat eist bij een vermoeden van een misdrijf).</div>
<div> </div>
<div><strong>Statistieken</strong></div>
<div>Wij houden statistieken bij over het gebruik van onze webwinkel. In onze webwinkel zijn social media buttons opgenomen. Hiermee verzamelen de beheerders van deze diensten uw persoonsgegevens.</div>
<div> </div>
<div><strong>Cookies</strong></div>
<div>Onze webwinkel gebruikt cookies. Cookies zijn kleine bestandjes waar we informatie in kunnen opslaan zodat u die niet steeds hoeft in te vullen. Maar we kunnen er ook mee zien dat u ons weer bezoekt. Wanneer u onze webwinkel voor het eerst bezoekt, tonen wij een melding met uitleg over cookies. Hierbij zullen we vragen om uw akkoord voor het gebruik van deze cookies.</div>
<div>U kunt via uw browser het plaatsen van cookies uitschakelen, maar sommige dingen van onze webwinkel werken dan niet goed meer.</div>
<div> </div>
<div><strong>Google Analytics</strong></div>
<div>Wij gebruiken Google Analytics om bij te houden hoe bezoekers onze webwinkel gebruiken. Wij hebben een verwerkersovereenkomst met Google gesloten. Daarin staan strikte afspraken te maken over wat zij mogen bijhouden. Wij hebben Google niet toegestaan de verkregen Analytics informatie te gebruiken voor andere Google diensten. Wij laten Google de IP-adressen anonimiseren.</div>
<div> </div>
<div><strong>Beveiliging</strong></div>
<div>Beveiliging van persoonsgegevens is voor ons van groot belang. Wij zorgen dat uw gegevens bij ons goed beveiligd zijn. We passen de beveiliging steeds aan en letten goed op wat er mis kan gaan.</div>
<div> </div>
<div><strong>Wijzigingen in deze privacyverklaring</strong></div>
<div>Wij behouden ons het recht voor om wijzigingen aan te brengen in deze privacyverklaring. Het verdient aanbeveling om deze privacyverklaring geregeld te raadplegen, zodat u van deze wijzigingen op de hoogte bent. Wij zullen ons best doen wijzigingen ook apart aan te kondigen.</div>
<div> </div>
<div><strong>Inzage, wijzigen en verwijderen van uw gegevens</strong></div>
<div>Als u vragen hebt of wilt weten welke persoonsgegevens wij van u hebben, kunt u altijd contact met ons opnemen. Zie de contactgegevens hieronder.</div>
<div>U hebt de volgende rechten:</div>
<ul>
<li>uitleg krijgen over welke persoonsgegevens we hebben en wat we daarmee doen;</li>
<li>inzage in de precieze persoonsgegevens die we hebben;</li>
<li>het laten corrigeren van fouten;</li>
<li>het laten verwijderen van verouderde persoonsgegevens;</li>
<li>het laten overdragen van persoonsgegevens naar een andere partij;</li>
<li>intrekken van toestemming;</li>
<li>bezwaar maken tegen een bepaald gebruik.</li>
</ul>
<div>Let op dat u altijd duidelijk aangeeft wie u bent, zodat we zeker weten dat we geen gegevens van de verkeerde persoon aanpassen of verwijderen.</div>
<div> </div>
<div><strong>Klacht indienen</strong></div>
<div>Als u vindt dat wij u niet op de juiste manier helpen, dan heeft u het recht om een klacht in te dienen bij de toezichthouder. Deze heet de Autoriteit Persoonsgegevens.</div>
<div> </div>
<div><strong>Contactgegevens</strong></div>
<div>Ecozyhome</div>
<div>Isarweg 10<br/>

1043 AK Amsterdam</div>
<div>info@eco-logisch.nl</div>
<div>020 6823707</div>
<div> </div>
<div><strong>Wat doet Energiebespaarshop met je gegevens?</strong></div>
<div> </div>
<div>Het doel van het verwerken van de gegevens is:</div>
<ul>
<li>Het verwerken van uw bestelling, de betaling daarvan en de bezorging op het juiste adres;</li>
<li>Het bevorderen van de gebruiksvriendelijkheid van de site;</li>
<li>Het vragen voor een review voor de website of producten;</li>
<li>Het kunnen doen van (gepersonaliseerde) aanbiedingen en acties;</li>
<li>Het delen van adressen en bestelde producten met gemeenten en energieloketten (alleen in het kader van RRE/RREW subsidie regelingen);</li>
<li>Het bijhouden van bezoekers statistieken. (Google analytics). </li>
</ul>
<div> </div>
<div>Uw gegevens worden alleen voor bovengestelde doelen verwerkt. <br/>
<br/>
<p class="MsoNormal"><o:p></o:p></p>

Wij proberen altijd zo zorgvuldig mogelijk om te gaan met de contactgegevens van onze klanten. Gegevens die daaronder vallen zijn NAW-gegevens en het mailadres. Alle gegevens die we bewaren, staan op de orderbevestiging. Deze ordergegevens moeten wij verplicht 7 jaar bewaren voor de Belastingdienst. Daarna kunnen ze worden vernietigd. Sowieso bewaren we de gegevens van klanten niet langer dan 10 jaar als er niet opnieuw een bestelling heeft plaatsgevonden.Uw gegevens worden niet aan een derde ter beschikking gesteld, tenzij dat noodzakelijk is om uw bestelling uit te kunnen voeren. Denk hierbij aan het doorgeven van een bezorgadres. </div>
<div> </div>
<div><strong>Veilig online met een beveiligde SSL verbinding</strong></div>
<div> </div>
<div>Energiebespaarshop hecht veel waarde aan veilig internet. Om deze reden is de hele website beveiligd met een SSL certificaat. </div>
<div> </div>
<div><strong>Vragen</strong></div>
<div> </div>
<div>Voor vragen of opmerkingen over ons Privacy beleid, kunt u ons <a href="http://www.energiebespaarshop.nl/contact">hier</a> een bericht sturen.</div>
<br/><br/>
</div>
</div>
{% endblock %}
