{% extends 'core/base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto px-4 py-12 prose prose-green">
<div class="container userInfo">
<h1 class="ebs-content-header">

            Retourvoorwaarden

        </h1>
<br/>
<p class="MsoNormal"><br/>
<a href="http://www.eco-logisch.nl/upload/Retourformulier_-_Ecozyhome.pdf">Download hier het retourformulier</a><br/>
<br/>
<br/>
<strong>Annuleringen:<br/>
</strong><br/>

1.1 Annuleringen van bestellingen zijn in principe niet mogelijk, tenzij hierover voorafgaand aan de aankoop anders is overeengekomen tussen Ecozyhome en de klant.<br/>

1.2 Indien er een uitzondering wordt gemaakt voor annuleringen, dient de klant dit schriftelijk aan te vragen bij Ecozyhome. Ecozyhome behoudt zich het recht voor om naar eigen oordeel te beslissen of de annulering kan worden geaccepteerd.<br/>
<br/>
<strong>Breuk en Garantie:<br/>
</strong><br/>

2.1 Mocht er bij ontvangst van de bestelling sprake zijn van beschadiging, breuk of defecten, dient de klant dit onmiddellijk, doch uiterlijk binnen 48 uur na ontvangst van de goederen, schriftelijk te melden aan Ecozyhome.<br/>

2.2 De klant dient een gedetailleerd bericht te verstrekken waarin de aard van de beschadiging, breuk of het defect wordt beschreven, evenals relevante ordernummers, productcodes en foto's ter ondersteuning van de claim.<br/>

2.3 Ecozyhome zal binnen een redelijke termijn reageren op de melding en samen met de klant een passende oplossing proberen te vinden. Dit kan bijvoorbeeld een vervanging van het beschadigde artikel, een creditering of een andere overeengekomen oplossing zijn.<br/>

2.4 De garantieperiode voor producten wordt vastgesteld op basis van de specifieke garantievoorwaarden van de fabrikant. Klanten worden verzocht deze voorwaarden zorgvuldig door te nemen voordat ze aanspraak maken op garantie.<br/>
<br/>
<strong>Procedure voor Retourzendingen:<br/>
</strong><br/>

3.1 Retourzendingen dienen altijd vooraf met Ecozyhome te worden overlegd en schriftelijk te worden goedgekeurd.<br/>

3.2 Indien Ecozyhome een retourzending goedkeurt, zal zij instructies verstrekken over de verzending en het retourproces.<br/>

3.3 Alle retourzendingen moeten adequaat worden verpakt om beschadiging tijdens het transport te voorkomen. De klant is verantwoordelijk voor eventuele schade die voortvloeit uit onjuiste verpakking.<br/>

3.4 De klant is verantwoordelijk voor de verzendkosten van de retourzending, tenzij anders overeengekomen met Ecozyhome.<br/>
<br/>
<strong>Uitgesloten Producten:<br/>
</strong><br/>

4.1 Voor sommige producten kunnen specifieke retourvoorwaarden gelden, zoals bederfelijke goederen of producten met een beperkte houdbaarheid. In dergelijke gevallen zal Ecozyhome de klant informeren over eventuele beperkingen met betrekking tot retournering.<br/>
<br/>
<strong>Terugbetalingen:<br/>
</strong><br/>

5.1 In het geval van een geaccepteerde retourzending zal Ecozyhome de creditering verwerken binnen een redelijke termijn na ontvangst en inspectie van de geretourneerde goederen.<br/>
<strong><br/>

Uitzonderlijke Omstandigheden:<br/>
</strong><br/>

6.1 In uitzonderlijke situaties kan Ecozyhome afwijken van deze retourvoorwaarden, mits dit schriftelijk is overeengekomen met de klant.<br/>
<br/>

 </p>
<br/><br/>
</div>
</div>
{% endblock %}
